# .coveragerc
[run]

source = .

# Omit unnecessary directories
omit =
    */test/*
    */tests_ci/*
    */__pycache__/*
    */site-packages/*
    */venv/*
    */env/*
    */.venv/*
    setup.py
    collect_env.py
    */setup.py
    */model/*

[report]

exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:


precision = 2
show_missing = True

[html]
directory = htmlcov
